* {
    box-sizing: border-box;

}

body {
    background-color: #004D7A !important;
    min-height: 100vh;
    flex-direction: column;
}

header {
    background-color: #A6AFBF !important;
}

main {
    display:grid !important;
    grid-template-columns: 70% 30%;
    width: 900;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.15);
    overflow: hidden;
}
.titulo{
    text-align: center;
}
.borda{
    
    background-color: #B3D9EB !important;
    border-radius: 8px !important;
    gap:10px;
    border-color: #052C43;
    border-style:solid !important;
    border-width: 30px;
    height: 400px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer {
    background-color: #A6AFBF !important;
}

.text-center {
    color: #004D7A !important;
}

.borda {
    border-style: 2px solid;
    border: #052C43;
}